---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { Embed } from 'astro-cache-embed';

const art = await getCollection('art')

const projects = await Promise.all(art.reverse().map(async project => {
  return {
    ...project,
    data: {
      ...project.data,
      img: project.data.img ,
      video: project.data.video ,
    }
  }
}))
---

<script>
  import '@/webcomponents/fullscreen-media'
</script>

<Layout title="Artwork">
  <header>
    <h1>Artwork</h1>
  </header>
  <p>
    This page showcases a collection of my works in various mediums.
  </p>
  <div class="pb-10">
    {
      projects.map((piece) => {
        return (
          <div class="pb-10">
            <div class="flex flex-row">
              <div class="mr-3 w-2/5">
                {piece.data.video && (
                  <fullscreen-media>
                    <Embed {...{autoplay: true, muted: true, loop: true}} src={piece.data.video} />
                  </fullscreen-media>
                )}
                {piece.data.img && (
                  piece.data.href ? (
                    <a href={piece.data.href}>
                      <Embed src={piece.data.img} alt={piece.data.description} />
                    </a>
                  ) : (
                    <fullscreen-media>
                      <Embed
                        src={piece.data.img}
                        alt={piece.data.description}
                      />
                    </fullscreen-media>
                  )
                )}
              </div>
              <div class="w-3/5">
                <h2>{piece.data.title}</h2>
                <p class="pb-6">
                  {piece.data.description}
                  {piece.data.rarible && (
                    <span>This piece is an NFT available on <a href={piece.data.rarible}>Rarible</a>.</span>
                  )}
                </p>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>
