---
import Layout from '@/layouts/Layout.astro';
import '../styles/resume.css'
import { getCollection } from 'astro:content';

const allJobs = (await getCollection('jobs')).reverse();

const jobs = await Promise.all(allJobs.map(async (job) => {
  const { Content } = await job.render()
  return { ...job.data, tags: (job.data.tags || []), Content }
}))

const name = "Thomas Reggi";
const email = "thomas@reggi.com";
const phone = "347-878-7829";
const location = "New York City";
const downloadIcon = "/resume-download.png";
const downloadable = "/thomas-reggi-resume.pdf";
const links = [
  "https://github.com/reggi",
  "https://linkedin.com/in/thomasreggi",
  "https://reggi.com"
].map((link) => ({ text: link.replace('https://', ''), href: link}))

---

<Layout title="Thomas Reggi's Resume">
  <div>
    <div class="topSection flex justify-between items-center">
      <div>
        <h1 class="name">{name}</h1>
        <p>{location} | {email} | {phone}</p>
        <p>
          {links.map((link, index) => ( <>
            <a href={link.href}>{link.text}</a>
            {index < links.length - 1 && ' | '}
          </>))}
        </p>
      </div>
      <div class="print:hidden">
        <a href={downloadable}>
          <img src={downloadIcon} alt="download resume" width="40"/>
        </a>
      </div>
    </div>
    {jobs.map(job => (
      <div class="job">
        <div class="jobImage">
          <img width="25" height="25" src={job.company.logo}/>
        </div>
        <div>
          <h2>{job.title}</h2>
          <h3 class="font-bold">{job.company.name}</h3>
          <span>{job.start}</span> → <span>{job.end ? job.end : "Present"}</span>
          <p>
            <job.Content></job.Content>
          </p>
          <p>
            {job.tags.map((tag) => <span class="label">{tag}</span>)}
          </p>
        </div>
      </div>
    ))}
  </div>
</Layout>
