---
import { Icon } from 'astro-icon'
import { Embed } from 'astro-cache-embed'

type Props = {
  links: {
    href: string
    text: string
  }[],
  portrait?: boolean
  landscape?: boolean
}

let { links = [] } = Astro.props

const portrait = Astro.props.portrait || !Astro.props.landscape
const landscape = Astro.props.landscape

const socials = [
  { href: "https://indieweb.social/@thomasreggi", text: "mastodon" },
  { href: "https://www.linkedin.com/in/thomasreggi/", text: "linkedin" },
  { href: "https://github.com/reggi/", text: "github-alt" },
  { href: "https://dev.to/reggi", text: "dev" },
  { href: "https://stackoverflow.com/users/340688/thomasreggi", text: "stack-overflow" },
  { href: "https://reggi.tumblr.com", text: "square-tumblr" },
]

---

{ portrait && (
  
<div>
  <a href="/">
    <Embed class="rounded-full w-full cursor-pointer" src="https://cdn.masto.host/indiewebsocial/accounts/avatars/107/567/776/589/757/810/original/52f7729babfc617c.png" alt="Thomas Reggi's Profile Image"/>
  </a>

  <div class="pt-5 pr-2">
    <p class="pb-2 text-right">@thomasreggi 🌸</p>
    <ul class="text-right list-none">
      <div class="flex flex-row-reverse gap-2">
        {socials.map((link) => ( <>
          <li><a href={link.href}><Icon name={link.text} alt={link.text} class="h-6"/></a></li>
        </>))}
      </div>
    </ul>
    <div class="mx-0 px-0 mt-[30px] mb-[25px] pl-[20px] border-b-[1px] dark:border-white border-black"></div>
    <ul class="text-right flex flex-col gap-3 list-none">
      {links.map((link) => ( <>
        <li><a href={link.href}>{link.text}</a></li>
      </>))}
    </ul>
  </div> 
</div>
)}

{ landscape && (

<div class="flex flex-col items-center justify-center">
  <img class="w-20 h-20 rounded-full mb-4" src="https://cdn.masto.host/indiewebsocial/accounts/avatars/107/567/776/589/757/810/original/52f7729babfc617c.png" alt="Thomas Reggi's Profile Image"/>
  <p class="text-center pb-4">@thomasreggi 🌸</p>
  <ul class="text-right list-none pb-4 -ml-[10px]">
    <div class="flex flex-row-reverse gap-5">
      {socials.map((link) => ( <>
        <li><a href={link.href}><Icon name={link.text} alt={link.text} class="h-7"/></a></li>
      </>))}
    </div>
  </ul>
</div>

<div class="p-[30px]">
  <div class="border-b-[1px] dark:border-white border-black"></div>
</div>

)}
